.bgr{
    background-color: red;
}

.bgb {
    background-color: blue;
}

.bgg {
    background-color: green;
}

.bgy{
    background-color: yellow;
}

a {
    text-decoration: none !important;
}


.header-spacer{
    height: 6vh;
}

.footer-spacer{
    height: 6vh;
}

.h-100vh {
    height: 100vh !important;
}

.w-33 {
    width: 33.33% !important;
}

