
body{
    /* background-color: wheat !important; */
}

#product-list-wrapper {
    height: auto;
    width: 100%;
}

#product-card-wrapper {
    background-color: wheat !important;
    border-radius: 15px;
}

#img-container{
    background-color: white;
    border-radius: 15px;
    box-shadow: 5px 5px;
}

.product-name{
    font-size: large;
    font-weight: bold;
    text-align: center;
}

.product-desc{
    text-align: center;
}
.product-price{
    font-size: large;
    font-weight: bold;
    text-align: right;
}

